.table1 table tbody th{padding: 15px 0 0 14px; vertical-align: top;background: #f9f9f9; border-bottom: 1px solid #dbdbdb; padding: 10px 16px;
    color: #777; font-size: 12px;}
.table1 table tbody td{border-bottom: 1px solid #dbdbdb; color: #444;}
.txt-field{height: 26px;padding: 0 10px; background: #fff; border: 1px solid #d0d0d0;margin-left:5px; }
.txt-field .text{    outline: none;
    font-size: 12px;width: 100%;
    height: 24px;
    padding: 0;
    border: 1px solid #fff;
    color: #979797;
    line-height: 24px;}
.btn{ margin: 30px 0 50px;; font-size: 0; text-align: center}
.btn .order{width: 203px;
    height: 55px;
    line-height: 53px;
    font-size: 14px;
    background: #ff5c01;
    border: 1px solid #ff5c01;
    color: #fff;
    font-weight: bold;}
    .btn .order:hover{cursor:pointer; text-decoration:underline; background:#ff4d30;}
    .step-top{overflow: hidden;padding: 10px 0;border-bottom: 1px solid #dbdbdb;}
        .order-page table{width: 100%; min-width: 100%;}
        .order-page table thead{color: #444}
        .this-product span{display: table-cell;}
        .this-product span img{width: 40px; height: 40px; border: 1px solid #dbdbdb;}
        .this-product div{display: table-cell; padding: 0 0 0 12px; vertical-align: middle;}
        .this-product div a{float: left; font-size: 15px;}
        .this-product div dl{padding: 2px 0 0; color: #a9a9a9; font-size: 11px;float: left;margin: 0px;margin-left: 3px;}
        .this-product div dl dt,
        .this-product div dl dd{display: inline;}
        .this-product div dl dd{margin-left: 0px;}